/* global */
/* @import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');*/
/* @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'cali';
    src: url('assets/font/calibrib.ttf'); 
    font-weight:600;
}

@font-face {
    font-family: 'cali';
    src: url('assets/font/calibri.ttf'); 
    font-weight:400;
}

@font-face {
    font-family: 'cali';
    src: url('assets/font/calibril.ttf'); 
    font-weight:100;
}

.grid-2 {
    display: grid;
    grid-template-columns: 30% 90%;
    /* grid-template-columns: repeat(2, 1fr); */
}

.grid-hist {
    display: grid;
    grid-template-columns: 9% 90%;
    /* grid-template-columns: repeat(2, 1fr); */
}

.row-hist{
    margin-left:2ex;
}

.prof_img {
    border-radius: 50%;
    border: 1px solid #212529;
    /* border: 5px solid #212529; */
    padding: 0.5ex;
}

.img-hist{
    border-radius: 10%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    /* font-size: larger; */

}

p{
    font-family: 'Noto Sans';
    font-weight: 400;
    color: #484848;
}

h1,
.white {
    font-family: 'Noto Sans';
    color: #292929;
    font-weight: 600;
}

h2,
.white {
    font-family: 'Noto Sans';
    font-weight: 500;
    color: #2a2a2a;
}

h3,
.white {
    font-family: 'Noto Sans';
    font-weight: 500;
    color: #3e3e3e;
}

h2-dim,
.white {
    font-family: 'Noto Sans';
    font-weight: 500;
    color: #414141;
}

h3-dim,
.white {
    font-family: 'Noto Sans';
    font-weight: 500;
    color: #414141;
}

a {
    color: #535353;
    font-weight: 270;
    /* text-decoration: none; */
    text-decoration: underline;
}

/******************* section 1 **********************/

.section-1 {
    padding-top: 15vh;
    padding-bottom: 5vh;
    text-align: center;
}

.section-1 p {
    font-size: 1.2rem;
    padding-top: 0px;
    padding-bottom: 15px;
    color: #585858;
    margin: 0;
    margin-left:1ex;
    margin-right:1ex;
}

.section-1 h1 {
    font-size: 1.7rem;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left:1ex;
    margin-right:1ex;
}

.section-1 h2 {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.section-1 a {
    font-size: 1.6rem;
    padding: 4.5px;
    /* border: 2px solid #495057; */
    border-radius: 10px;
}

.section-1 a:hover {
    color: #7b7b7b;
    cursor: pointer;
    transition: 0.3s;
    /* border: 2px solid #777777; */
    /* border-radius: 10px; */
}

/******************* section 2 *******************/

.section-2 {
    padding-top: 10vh;
    padding-bottom: 5vh;
    width: 70%;
}

.section-2 h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.section-2 h2 {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.section-2 h2-dim {
    font-size: 1.3rem;
    color: #7c7c7c;
    margin-bottom: 10px;
}

.section-2 h3 {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.section-2 h3-dim {
    font-size: 1.1rem;
    color: #7c7c7c;
    margin-bottom: 10px;
}

.section-2 p {
    font-size: 0.95rem;
    padding-bottom: 10px;
    margin: 0;
}

.section-2 a {
    /* display: block; */
    padding: 5px;
    padding-left: 0;
}

/* animations / utilities */
.section-2 a:hover {
    /* font-size: 1.3rem; */
    color: #7e7e7e;
    cursor: pointer;
    transition: 0.2s;
}

.white:hover {
    position: relative;
    padding-left: 10px;
}
.sessions{
    margin-top: 2rem;
    border-radius: 12px;
    position: relative;
}

li{
    list-style: none;
    padding-bottom: 0.5rem;
    border-left: 2px solid #7c7c7c;
    position: relative;
    padding-left: 20px;
    margin-left: 10px;
    &:last-child{
      /* border: 0px; */
      padding-bottom: 0px;
      /* margin-left: 12px; */

    }
    &:before{
      content: '';
      width: 7px;
      height: 7px;
      background: #7c7c7c;
      /* border: 1px solid #4e5ed3; */
      /* box-shadow: 3px 3px 0px #bab5f8; */
      /* box-shadow: 3px 3px 0px #bab5f8; */
      border-radius: 0%;
      position: absolute;
      left: -5px;
      top: 6px;
    }
  }
/* media queres */
@media(max-width:641px) {
    .grid-2 {
        grid-template-columns: 1fr;
    }
    li{
        &:before{
            top:7px
        }
    }

    .grid-hist {
        grid-template-columns: auto;
    }
    .row-hist{
        margin-left:0ex;
    }

    .img-hist{
        /* aspect-ratio: 1.333; */
        width: 30%;
        /* margin-right: -50ex; */
    }
    
    .section-1 {
        padding: 0;
        padding-top: 5rem;
    }
    .section-1 p {
        font-size: 1.2rem;
        margin-left:10ex;
        margin-right:10ex;
    }

    .section-2 {
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 2rem;
    }
    
    .section-2 h1 {
        font-size: 1.7rem;
        margin-right: -10ex;
    }
    
    .section-2 h2 {
        font-size: 1.15rem;
        margin-right: -10ex;
    }
    .section-2 h2-dim {
        font-size: 1.15rem;
        margin-right: -10ex;
    }

    .section-2 h3 {
        font-size: 0.95rem;
        margin-right: -10ex;
    }
    
    .section-2 h3-dim {
        font-size: 0.95rem;
        margin-right: -20ex;
    }
    .section-2 p {
        font-size: 0.9rem;
        margin-right: -10ex;
    }
    
    .section-2 a {
        /* display: block; */
        padding: 5px;
        padding-left: 0;
    }
    
    
}